@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <h5>This is a web app Calculator</h5>
    <h3><a asp-area="" asp-controller="Calculators" asp-action="Calculate">let's try it</a></h3>
    <br />
    <hr />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

